.item-container{
    display: flex;
    padding-left: 1rem;
}

.item-container:hover{
    background-color: #2d363d;
}
.active-item-container{
    display: flex;
    background-color: black;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.icon-container{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}